<div class="table-container">
    <table class="table is-fullwidth is-striped has-text-centered" *ngIf="cardSales.length">
        <thead>
            <tr>
                <th>
                    <p class="has-text-centered">Karta ({{ cardSales.length }})</p>
                </th>
                <th>
                    <p class="has-text-centered">Ime</p>
                </th>
                <th>
                    <p class="has-text-centered">Set</p>
                </th>
                <th>
                    <p class="has-text-centered">Cena</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of cardSales">
                <th>
                    <div class="has-text-centered">
                        <img class="ml-auto img-card" *ngIf="sale.card.image_uris"
                            src="{{sale.card.image_uris.small}}" alt="">
                        <ng-container *ngIf="!sale.card.image_uris && sale.card.card_faces">
                            <img class="img-card" *ngFor="let face of sale.card.card_faces"
                                src="{{face.image_uris?.small}}" alt="">
                        </ng-container>
                    </div>
                </th>
                <td class="is-vcentered">{{ sale.card.name }}</td>
                <td class="is-vcentered">
                    <div class="set-table-icon-wrapper">
                        <img class="set-table-icon" src="{{ this.getSetIcon(sale.card.set_id) }}" alt="set icon" />
                    </div>
                    <div>
                        {{ sale.card.set_name }}
                    </div>
                </td>
                <td class="is-vcentered ">
                    <div class="columns has-text-centered limit-width ml-auto">
                        <div class="column has-text-centered-mobile is-2 is-hidden-mobile">
                            <i class="fas fa-coins fa-2x icon-center"></i>
                        </div>
                        <div class="column has-text-centered-mobile">
                            <p class="heading pl-1">Cena</p>
                            <p class="title is-5">
                                {{ sale.price / 100}} €
                            </div>
                    </div>
                </td>
                <!-- <td class="is-vcentered"><button class="button is-primary has-text-black" (click)="checkSales(card)">Ponudbe</button></td> -->
            </tr>
        </tbody>
    </table>


    <div class="block has-text-centered">
        <h1 class="subtitle is-3" *ngIf="!cardSales.length">Ni ponudb!</h1>
    </div>
</div>