<div class="columns" *ngIf="paginated">
    <div class="column is-3  has-text-left has-text-centered-mobile">
        <button *ngIf="amountOfPages > 1" class="button is-primary has-text-black pagination-previous" [disabled]="!canGetPreviousPage()" (click)="getPreviousPage()">Nazaj</button>

    </div>

    <div class="column is-6 has-text-centered">
        <h1 class="subtitle is-3">Stran ({{ currentPage + 1}}/{{amountOfPages}}) </h1>
    </div>

    <div class="column is-3 has-text-right has-text-centered-mobile">
        <button *ngIf="amountOfPages > 1" class="button is-primary has-text-black pagination-next" [disabled]="!canGetNextPage()" (click)="getNextPage()">Naprej</button>
    </div>
</div>
<div class="table-container">
    <div class="has-items-centered">

        <!-- table -->
        <table class="table is-fullwidth is-striped " *ngIf="cardSales.length">
            <thead>
                <tr>
                    <th>
                        <p class="">Karta ({{ cardSales.length }})</p>
                    </th>
                    <th>
                        <p class="">Ime</p>
                    </th>
                    <th>
                        <p class="">Set</p>
                    </th>
                    <th>
                        <p class="has-text-centered">Cena</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sale of cardSales">
                    <th>
                        <div class="is-vertical-center">

                            <div class="">
                                <img 
                                    class="ml-auto img-card" 
                                    loading="lazy" 
                                    *ngIf="sale.card.image_uris"
                                    src="{{sale.card.image_uris.small}}" 
                                    alt="Card face image {{sale.card.name}}"
                                >
                                <ng-container *ngIf="!sale.card.image_uris && sale.card.card_faces">
                                    <img 
                                        class="img-card" 
                                        loading="lazy" 
                                        *ngFor="let face of sale.card.card_faces"
                                        src="{{face.image_uris?.small}}" 
                                        alt="Card face image {{sale.card.name}}"
                                    >
                                </ng-container>
                            </div>
                        </div>
                    </th>
                    <td class="is-vcentered has-text-weight-bold is-size-3-tablet">
                        <a 
                            class="has-text-primary"
                            [routerLink]="['/search']"
                            [queryParams]="{ id: sale.card.id}"    
                        >
                            {{ sale.card.name }}
                        </a>
                    </td>
                    <td class="is-vcentered">
                        <div class="set-table-icon-wrapper">
                            <img 
                                class="set-table-icon" 
                                loading="lazy" 
                                src="{{ this.getSetIcon(sale.card.set_id) }}" 
                                alt="Set image {{sale.card.set_name}}" 
                            />
                        </div>
                        <div>
                            {{ sale.card.set_name }}
                        </div>
                    </td>
                    <td class="is-vcentered has-text-centered">
                        <div class="columns limit-width ml-auto">
                            <div class="column has-text-centered-mobile is-2 is-hidden-mobile">
                                <i class="fas fa-coins fa-2x icon-center"></i>
                            </div>
                            <div class="column has-text-centered-mobile">
                                <p class="heading pl-1 is-hidden-mobile">Cena</p>
                                <p class="title is-5">
                                    {{ sale.price / 100}}€
                            </div>
                        </div>
                    </td>
                    <!-- <td class="is-vcentered"><button class="button is-primary has-text-black" (click)="checkSales(card)">Ponudbe</button></td> -->
                </tr>
            </tbody>
        </table>


        <div class="block has-text-centered">
            <h1 class="subtitle is-3" *ngIf="!cardSales.length">Ni ponudb!</h1>
        </div>
    </div>