<div class="container box mt-3">
    <div class="level block">
        <div class="level-left ">
            <h1 class="title is-3">Prosimo vnesite kontaktne podatke</h1>
        </div>
        <div class="level-right has-text-centered">
            <button class="button is-primary" [disabled]="!usernameInput || phoneInput.length < 9" (click)="submitData()">Naprej</button>
        </div>
    </div>

    <app-contact-info-form 
        (username)="changeUsername($event)" 
        (phone)="changePhone($event)"
    ></app-contact-info-form>
</div>