<div class="block columns">
    <!-- sale form -->
    <div class="column is-half columns is-multiline">
        <div class="field column is-12">
            <label class="label">Ime karte</label>
            <div class="control has-icons-left has-icons-right">
                <p-autoComplete 
                    #itemSelect 
                    inputStyleClass='input' 
                    [(ngModel)]="itemString" 
                    [suggestions]="results" 
                    (completeMethod)="search($event)" 
                    (onSelect)="itemSelectChange($event)"
                    [inputStyle]="{'width':'100%'}"
                ></p-autoComplete> 
                <!-- <input class="input" type="text" [(ngModel)]="sale.sale_object_id"> -->
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </div>
        <div class="field column is-12">
            <label class="label">Približna lokacija</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" [(ngModel)]="sale.location_coords">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </div>
        <div class="field column is-12">
            <label class="label">Opis / dodatni podatki</label>
            <div class="control has-icons-left has-icons-right">
                <textarea class="textarea is-primary" [(ngModel)]="sale.description"></textarea>
            </div>
        </div>
        <div class="field column is-half">
            <label class="label">Št. kart</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="number" [(ngModel)]="sale.amount">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right has-text-success" *ngIf="sale.amount">
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </div>
        <div class="field column is-half">
            <label class="label">Cena €/karto</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="number" [(ngModel)]="sale.price">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right has-text-success" *ngIf="sale.price">
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </div>

        <div class="level-item">
            <div>
                <label for="itemSelect">Select item/animal</label><br>
                       
            </div>
        </div>


    </div>

    <!-- card display -->
    <div class="column is-half columns is-multiline has-text-centered">
        <div class="field column is-12">
            <img class="card-image m-auto" *ngIf="selectedCard" src="{{selectedCard.image_uris?.png}}" alt="">
            <img class="card-image m-auto" *ngIf="!selectedCard" src="assets/card/card_back.png" alt="">
        </div>
        <div class="field column is-half">
            <button class="button is-primary">Potrdi</button>
        </div>
        <div class="field column is-half">
            <button class="button is-danger is-outlined">Zavrzi</button>
        </div>
    </div>
</div>