<div class="container box mt-5" @enter>

    <h1 class="title is 2">
        VAROVANJE OSEBNIH PODATKOV
    </h1>
    <p class="block">

        Zavezujemo se k trajnemu varovanju vseh osebnih podatkov uporabnikov v skladu z GPDR.
        Osebni podatki, ki jih obdelujemo
    </p>
    <p class="block">

    <ul>
        <li>
            identifikacijski podatki, ki obsegajo le uporabniško ime (gesla ne hranim),
        </li>
        <li>
            kontaktni podatki obsegajo osebne podatke, s pomočjo katerih lahko stopimo v stik z vami (e-naslov,
            telefonsko številko)
        </li>
        <li>
            podatke o vaših ponudbah, ki obsegajo podatke o ponujenih artiklih in načinu kontakta
        </li>
    </ul>

    <h1 class="title is-3">
        Uporaba piškotkov
    </h1>
    <p class="block">

        Če obiščete našo spletno aplikacijo, v vašo napravo shranjujemo in iz nje beremo majhne datoteke, piškotke.
        Piškotek
        je majhen skupek črk in števk, ki ga hranimo na vašem spletnem brskalniku. Nekateri piškotki nam omogočajo
        medsebojno povezavo vaših aktivnosti med brskanjem po naših straneh od trenutka, ko odprete okno spletnega
        brskalnika, vse do trenutka, ko ga zaprete. V trenutku, ko zaprete okno spletnega brskalnika, se pripadajoči
        piškotki izbrišejo. Nekateri piškotki pa ostanejo v napravi za nastavljen čas in se aktivirajo pri vsakem obisku
        spletnih strani, ki so pripadajoče piškotke ustvarile. Piškotke v vašo napravo shranjujemo, tiste, ki so jih v
        vašo
        napravo shranile naše spletne strani, pa tudi beremo.
    </p>
    <p class="block">

        Takšni piškotki nam omogočajo le pregled statistike obiska spletne strani z uporabno Google Analitics.
    </p>

</div>