<!-- <div class="container mt-5 banner">
  <div class="level">
    <div class="level-item has-text-centered">
      <img
        class="img-fluid is-hidden-mobile"
        src="assets/logo/fetchland_logo_name_black_big.png"
        alt=""
      />
      <div class="image-banner-small"></div>
    </div>
  </div>
  <div class="columns p-3 search">
    <div class="column is-10 is-offset-1">
      <div class="field">
        <div class="control is-large is-primary">
          <input
            class="input is-large"
            type="text"
            placeholder="Poišči karte"
            [(ngModel)]="searchQuery"
            (keyup.enter)="search()"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="has-text-centered">
    <button
      class="button is-primary has-text-black is-hidden-tablet is-rounded is-large"
      (click)="search()"
    >
      Išči
    </button>
  </div>
  <div class="box new-offers mb-5">
    <div class="has-text-right has-content-right">
      <span class="file-icon ml-2 mr-2 mt-1 is-pulled-right">
        <i class="fas fa-sparkles"></i>
      </span>
      <h1 class="subtitle id-4">Najnovejše ponudbe</h1>
    </div>
    <app-new-sales-table [pageSize]="4"></app-new-sales-table>
  </div>
</div>
<div class="spacer is-hidden-tablet"></div>
 -->
<section id="search__section">
  <div class="container mt-5">
    <div class="logo-wrapper">
      <img
        class="img-fluid"
        src="assets/logo/fetchland_logo_name_black_big.png"
        alt=""
      />
    </div>

    <div class="search-wrapper">
      <div class="field">
        <div class="control is-large is-primary">
          <input
            class="input is-large"
            type="text"
            placeholder="Poišči karte"
            [(ngModel)]="searchQuery"
            (keyup.enter)="search()"
          />
        </div>
      </div>

      <div class="has-text-centered search-btn">
        <button
          class="button is-primary has-text-black is-hidden-tablet is-rounded is-large"
          (click)="search()"
        >
          Išči
        </button>
      </div>
    </div>

    <div class="box new-offers mb-5">
      <div class="has-text-right has-content-right">
        <span class="file-icon ml-2 mr-2 mt-1 is-pulled-right">
          <i class="fas fa-sparkles"></i>
        </span>
        <h1 class="subtitle id-4">Najnovejše ponudbe</h1>
      </div>
      <app-new-sales-table [pageSize]="4"></app-new-sales-table>
    </div>
  </div>
</section>
