<div class="container">
    <div 
        class="box mt-5 mb-5" 
        *ngIf="pageState == 'search'"
        [@enter]="{value: transitionDirection, params: { trans: transitionEnter}}"
    >
        <app-sale-search (salesToCheck)="checkSales($event)"></app-sale-search>
    </div>

    <div 
        class="box mt-3 mb-5" 
        *ngIf="pageState == 'sales'"
        [@enter]="{value: transitionDirection, params: { trans: transitionEnter}}"
    >
        <app-sale-list [cardSales]="salesToCheck" (back)="backToList()"></app-sale-list>
    </div>
</div>
<div class="spacer is-hidden-tablet"></div>
