<div class="container">
    <div class="columns">
        <div class="column is-3">
            <button class="button is-primary is-outlined" (click)="backTrigger()">Nazaj</button>
        </div>

        <div class="column is-6 has-text-centered">
            <h1 class="subtitle is-3">Izpolni podatke (2/2)</h1>
        </div>

        <div class="column is-3 has-text-right">
            <button class="button is-primary has-text-black" (click)="submitSale()" [disabled]="!isInputValid()">Potrdi</button>
        </div>
    </div>
   
    <div class="block columns" *ngIf="sale">
        <div class="column is-half columns is-multiline">
            <div class="field column is-12">
                <label class="label">Približna lokacija</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" [(ngModel)]="sale.location_coords">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right has-text-success" *ngIf="isLocationValid()">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>
            <div class="field column is-12">
                <label class="label">Opis / dodatni podatki</label>
                <div class="control has-icons-left has-icons-right">
                    <textarea class="textarea is-primary" [(ngModel)]="sale.description"></textarea>
                </div>
            </div>
            <div class="field column is-half">
                <label class="label">Št. kart</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="number" [(ngModel)]="sale.amount">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right has-text-success" *ngIf="isAmountValid()">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>
            <div class="field column is-half">
                <label class="label">Cena €/karto</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="number" [(ngModel)]="sale.price">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right has-text-success" *ngIf="isPriceValid()">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="column is-half columns is-multiline has-text-centered">
            <div class="field column is-12">
                <div class="has-text-centered">
                    <img *ngIf="card && card.image_uris" class="ml-auto img-card-single"
                        src="{{card.image_uris.normal}}" alt="">
                    <ng-container *ngIf="card && !card.image_uris && card.card_faces">
                        <img class="img-card-double" *ngFor="let face of card.card_faces"
                            src="{{face.image_uris?.normal}}" alt="">
                    </ng-container>
                    <img class="card-image m-auto" *ngIf="!card" src="assets/card/card_back.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
