/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
@import "../src/colors.scss";
@import "bulma/sass/utilities/initial-variables";

$primary: $fl_orange;

// ------------ NAVBAR ------------
$navbar-item-color: $fl_black;
$navbar-item-hover-color: $fl_black;
$navbar-item-active-color: $fl_black;
$navbar-burger-color: $fl_black;
$navbar-item-color: $fl_orange;
$navbar-tab-active-color: $fl_black;
$navbar-dropdown-item-hover-color: $fl_black;
$navbar-dropdown-item-active-color: $fl_black;
$navbar-tab-hover-border-bottom-color: $fl_orange;
$navbar-tab-active-border-bottom-color: $fl_orange;

$navbar-item-hover-background-color: $fl_orange;
$navbar-item-active-background-color: $fl_dark_orange;
$navbar-tab-hover-background-color: $fl_orange;
$navbar-tab-active-background-color: $fl_dark_orange;
$navbar-dropdown-background-color: $fl_black;
$navbar-dropdown-item-hover-background-color: $fl_black;
$navbar-dropdown-item-active-background-color: $fl_black;

// ------------ BOX ------------
$box-color: $fl_light;
$box-background-color: $fl_black;

// ------------ TITLES ------------
$title-color: $fl_light;
$subtitle-color: $fl_light;

// ------------ BUTTON ------------
$button-text-color: $fl_black;

// ------------ INPUT ------------
$input-color: $fl_orange;
$input-background-color: $fl_black;
$input-border-color: $fl_orange;
$input-icon-color: $fl_orange;

// ------------ DIVIDER ------------
$divider-color: $fl_black;
$divider-background-color: $fl_light;

// ------------ TABLE ------------
$table-color: $fl_light;
$table-background-color: $fl_black;
$table-cell-border: $fl_light;
$table-head-cell-color: $fl_orange;
$table-striped-row-even-background-color: $fl_black_secondary;

// ------------ FOOTER ------------
$footer-background-color: $fl_black;
$footer-color: $fl_light;

// ------------ PAGINATION ------------
$pagination-color: $fl_orange;
$pagination-border-color: $fl_orange;
$pagination-border-color: $fl_orange;
$pagination-active-border-color: $fl_orange;
$pagination-active-color: $fl_orange;
$pagination-hover-color: $fl_light;
$pagination-focus-border-color: $fl_orange;
$pagination-hover-border-color: $fl_light;
$pagination-disabled-border-color: $fl_orange;
$pagination-current-background-color: $fl_orange;

// ------------ PROGRESS BAR ------------
$progress-bar-background-color: $fl_black_secondary;

@import "bulma/bulma.sass";

@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/navbar";
@import "bulma/sass/layout/section";

// Import Extensions
@import "bulma-extensions/bulma-divider/src/sass/index";


html {
  background-color: black;
}

body {
  background-image: url("assets/bg/bg2.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.label {
  color: $fl_light;
}

#toast-container {
  margin-top: 5% !important;
  background-color: $fl_orange !important;
}

#toast-container > .toast-success {
  background-color: $fl_orange !important;
}

.spacer {
  padding-bottom: 100px;
}

.navbar-item {
  button,
  .buttons {
    margin: 0px !important;
  }
}
