/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";

$fl_orange: #ef8700;
$fl_dark_orange: #ef7600;
$fl_light: #efd500;
$fl_black: #4a4a4a;

$primary: $fl_orange;

$navbar-item-color: $fl_black;
$navbar-item-hover-color: $fl_black;
$navbar-item-active-color: $fl_black;
$navbar-burger-color: $fl_black;
$navbar-item-color: $fl_orange;
$navbar-tab-active-color: $fl_black;
$navbar-tab-hover-border-bottom-color: $fl_black;

$navbar-item-hover-background-color: $fl_orange; 
$navbar-item-active-background-color: $fl_dark_orange;
$navbar-tab-hover-background-color: $fl_orange; 
$navbar-tab-active-background-color: $fl_dark_orange;
$navbar-dropdown-background-color: $fl_black;

$navbar-tab-active-border-bottom-color: $fl_orange;
$navbar-dropdown-item-hover-color: $fl_black;
$navbar-dropdown-item-hover-background-color: $fl_black;
$navbar-dropdown-item-active-color: $fl_black;
$navbar-dropdown-item-active-background-color: $fl_black;

@import "../node_modules/bulma/bulma.sass";

@import '~node_modules/bulma/sass/utilities/_all';
@import '~node_modules/bulma/sass/base/_all';
@import '~node_modules/bulma/sass/elements/button';
@import '~node_modules/bulma/sass/elements/container';
@import '~node_modules/bulma/sass/elements/title';
@import '~node_modules/bulma/sass/form/_all';
@import '~node_modules/bulma/sass/components/navbar';
@import '~node_modules/bulma/sass/layout/hero';
@import '~node_modules/bulma/sass/layout/section';