/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";

$fl_orange: #ef8700;
$fl_dark_orange: #ef7600;
$fl_light: #fdc780;
$fl_black: hsl(0deg, 0%, 14%);;

$primary: $fl_orange;

// ------------ NAVBAR ------------
$navbar-item-color: $fl_black;
$navbar-item-hover-color: $fl_black;
$navbar-item-active-color: $fl_black;
$navbar-burger-color: $fl_black;
$navbar-item-color: $fl_orange;
$navbar-tab-active-color: $fl_black;
$navbar-dropdown-item-hover-color: $fl_black;
$navbar-dropdown-item-active-color: $fl_black;
$navbar-tab-hover-border-bottom-color: $fl_orange;
$navbar-tab-active-border-bottom-color: $fl_orange;

$navbar-item-hover-background-color: $fl_orange; 
$navbar-item-active-background-color: $fl_dark_orange;
$navbar-tab-hover-background-color: $fl_orange; 
$navbar-tab-active-background-color: $fl_dark_orange;
$navbar-dropdown-background-color: $fl_black;
$navbar-dropdown-item-hover-background-color: $fl_black;
$navbar-dropdown-item-active-background-color: $fl_black;

// ------------ BOX ------------
$box-color: $fl_light;
$box-background-color: $fl_black;

// ------------ TITLES ------------
$title-color: $fl_light;
$subtitle-color: $fl_light;

// ------------ BUTTON ------------
$button-text-color: $fl_black;

// ------------ INPUT ------------
$input-color: $fl_orange;
$input-background-color: $fl_black;
$input-border-color: $fl_orange;
$input-icon-color: $fl_orange;

// ------------ INPUT ------------
$divider-color: $fl_black;
$divider-background-color: $fl_light;


@import "../node_modules/bulma/bulma.sass";

@import '~node_modules/bulma/sass/utilities/_all';
@import '~node_modules/bulma/sass/base/_all';
@import '~node_modules/bulma/sass/elements/_all';
@import '~node_modules/bulma/sass/form/_all';
@import '~node_modules/bulma/sass/components/navbar';
@import '~node_modules/bulma/sass/layout/hero';
@import '~node_modules/bulma/sass/layout/section';

// Import Extensions
@import "../node_modules/bulma-extensions/bulma-accordion/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-badge/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-calendar/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-carousel/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-checkradio/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-divider/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-iconpicker/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-pageloader/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-pricingtable/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-quickview/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-ribbon/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-steps/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-switch/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-tagsinput/src/sass/index";
@import "../node_modules/bulma-extensions/bulma-timeline/src/sass/index";

html { background-color: black; }

.label {
    color: $fl_light;
}