<footer class="footer has-text-centered">
    <div class="content has-text-centered">
        <p>Copyright © Domen Vake</p>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <a href="mailto:vake.domen94@gmail.com" class="has-text-primary">
                    <span class="icon-text">
                        <span>Email</span>
                    </span>
                </a>
            </div>
        
            <div class="column">
                <a href="/privacy" class="has-text-primary">
                    <span class="icon-text">
                        <span>Varovanje osebnih podatkov</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>