<footer class="footer has-text-centered">
    <!-- Copyright symbol of company -->
    <div class="content has-text-centered">
        <p>Copyright © Domen Vake</p>

    </div>
    <div class="container">

        <!-- Three columns created using columns class of Bulma -->
        <div class="columns">
            <div class="column">
                <a href="mailto:vake.domen94@gmail.com" class="has-text-primary">
                    <span class="icon-text">
                        <span>Email</span>
                    </span>
                </a>
            </div>
            <!-- <div class="column">
                <a href="https://">
                    <span class="icon-text">
                        <span>Call Us</span>
                    </span>
                </a>
            </div> -->

            <!-- Column 3 -->
            <div class="column">
                <a href="/privacy" class="has-text-primary">
                    <span class="icon-text">
                        <span>Varovanje osebnih podatkov</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>