<div class="container">
    <div class="columns">
        
        <div class="field column is-10">
            <label class="label">Ime karte</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" [(ngModel)]="prefixQuery" (ngModelChange)="search()">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field column is-2 has-text-centered">
            <label class="label">Jezik karte</label>
            <div class="select">
                <select class="form-control" id="pCategory" name="pCategory" [(ngModel)]="cardLang"
                    (ngModelChange)="refreshCards()">
                    <option [ngValue]="'en'">English</option>
                    <option [ngValue]="'es'">Spanish</option>
                    <option [ngValue]="'fr'">French</option>
                    <option [ngValue]="'de'">German</option>
                    <option [ngValue]="'it'">Italian </option>
                    <option [ngValue]="'pt'">Portuguese</option>
                    <option [ngValue]="'ja'">Japanese</option>
                    <option [ngValue]="'ko'">Korean</option>
                    <option [ngValue]="'ru'">Russian</option>
                    <option [ngValue]="'zhs'">Simplified Chinese</option>
                    <option [ngValue]="'zht'">Traditional Chinese</option>
                    <option [ngValue]="'he'">Hebrew</option>
                    <option [ngValue]="'la'">Latin</option>
                    <option [ngValue]="'grc'">Ancient Greek</option>
                    <option [ngValue]="'ar'">Arabic</option>
                    <option [ngValue]="'sa'">Sanskrit</option>
                    <option [ngValue]="'ph'">Phyrexian</option>
                </select>
            </div>
        </div>
    </div>
    <progress class="progress is-small is-primary" max="100" *ngIf="searching"></progress>
    <app-sale-search-table [cardSales]="cardSales" (salesToCheck)="checkSales($event)"></app-sale-search-table>
</div>